@model DeliveryServiceApp.Models.AdditonalServiceViewModel

<tr id="row_@Model.AdditionalServiceId">
    <td>@Model.AddtionalServiceName <input value ="@Model.AdditionalServiceId" name="Services[@Model.Sn].AdditionalServiceId" hidden /> </td>
    <td>@Model.AdditonalServicePrice RSD </td>
</tr>
